.form {
  max-width:500px;
  color: white;
  margin: 32px auto;
}

input[type=text]:focus {
  border-style:1px solid blue;
  color:rgba(0, 0, 0, 0.8);
  font-size:18px;
  font-weight:bold;
}

.name {
  font-size: 20px;
  font-weight: bold;

}

.nameInput {
  width: 500px;
  max-width:100%;
  height:40px;
  border-radius: 10px;
  background-color:white;
}

.nameInput::placeholder {
  width:400px;
  max-width:100%;
  font-size:18px;
  color:rgba(0, 0, 0, 0.4);
  align-self:center;
  padding-left:10px;
}


.email {
  font-size: 20px;
  font-weight: bold;

}

.emailInput {
  width: 500px;
  max-width:100%;
  height:40px;
  border-radius: 10px;
  background-color:white;
}

.emailInput::placeholder {
  width:400px;
  max-width:100%;
  font-size:18px;
  color:rgba(0, 0, 0, 0.4);
  align-self:center;
  padding-left:10px;
}

.whatsapp {
  font-size: 20px;
  font-weight: bold;

}

.whatsappInput {
  width: 500px;
  max-width:100%;
  height:40px;
  border-radius: 10px;
  background-color:white;
}

.whatsappInput::placeholder {
  width:400px;
  max-width:100%;
  font-size:18px;
  color:rgba(0, 0, 0, 0.4);
  align-self:center;
  padding-left:10px;
}


.formButton {
  font-size: 30px;
  font-weight: bold;
  margin-top: 42px;
  width: 500px;
  max-width:100%;
  height:60px;
  border-radius:30px;
  background-color:#ffff00;
  border-style: none;
}


