.video {
  width:600px;
  height:700px;
  max-width: 100%;
  margin: 30px auto;
}

.img {
  text-align: center;
}

.img img {
  margin:0 auto;
}

.videoDiv {
  height: 400px;
}

.facebookComents {
  margin-top: 50px;
  background-color: white;
}

.facebookComents iframe {
  margin-top: 30px;
  height:100px;
  width:600px;
  max-width:100%;
}
