.header {
  margin: 20px auto;
  max-width: 500px;
  text-align:center;
}

.data {
  font-size:22px;
  color: #ffff00;
  text-transform: uppercase;
}

.objective {
  padding: 5px 0 5px 0;
  font-size:24px;
  color: white;
  text-transform:uppercase;
  letter-spacing: 2px;
  line-height: 130%;
  //font-weight: 300;
  //max-width: 500px;
}

.objectiveTime {
  font-size:28px;
  text-transform:uppercase;
  //letter-spacing:1px;
  //font-weight: 700;
  color: #ffff00;
}
