.section {
  background-color: white;

}

.div {
  max-width:500px;
  margin: 0 auto;
  padding:10px;
}

.text {
  font-size:18px;
}

.logo {
  display:inline-block;
  margin-top: 10px;
}

.logo img {
  width: 100px;
}

.social {
  padding: 10px 20px 0 0;
}
